*{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
 }
 
.para {
    text-align: end;
    margin-right: 50px;
    margin-top: 0px;
    color: black;
}

body{
  background: #f5ebe0;
  background-size: cover;
  height: 100vh;
}

.main{
  text-align: center;
 }

h1{
  color: #d5bdaf;
  font-size: 45px;
  text-align: center;
}

h2{
    margin-top: 20px;
    color: #d5bdaf;
}

h3{
    color: #e3d5ca;
}

h4{
    color: color: #f5ebe0;;
    margin-top: 20px;
    margin-bottom: 40px;
}

p{
    margin-top: 30px;
    margin-bottom: 20px;
    color: #6c584c;
}

#farting1 {
    margin: 0px auto 20px;
}

button {
    margin: 20px auto;
    height: 55px;
    width: 200px;
    padding: 0px 20px 20px 20px;
    border-radius: 20px;
    border: 1px solid #6c584c;
    color: #f5ebe0;
    background: #6c584c
}

a{
    display: block;
    background: #6c584c;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    color: white;
    width: 150px;
    text-align: center;
    border-radius: 20px;
    transition: filter 0.4s ease-in-out;
    filter: grayscale();
}

img{
    display: block;
    margin-left: auto;
    margin-right: 5px; 
    width: 200px;
    height: 200px;
    border: none;
    filter: grayscale();
	width: 200px;
	height: 200px;
	border-radius: 50%;
	margin-bottom: 0.5rem;
	transition: filter 0.4s ease-in-out;
    
}

img:hover {
      filter: none;
}

a:hover {
    filter: none;
}

.footer {
  position: relative;
  padding: 1px;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  opacity:0.6;
}
